/* joemdash.css - 21.01.2024 (C) JoEmbedded.de V1.0 */
:root {
    /*== Infos, Alerts, Dialogboxen, .. Schrift txtblack == User-Aenderbare Vars START ==*/
    --white: #ffffff;
    --black: #000000;
    /* Main Content Schrift txtblack */
    --whitegray: #f8f8f8;
    /* Navi Schrift  txtblack*/
    --lightgray: #e0e0e0;
    --infogray: #d0d0d0;
    /* Navi Schrift  Hovered*/
    --hovergray: #c0c0c0;

    /* Header Schrift txtblack */
    --midgray: #b0b0b0;
    /* Footer Schrift txtwhite */
    --darkgray: #202020;

    /* Schriftfarben */
    --txtwhite: #f0f0f0;
    --txtblack: #000000;

    /* Spezialmarkierungen */
    --dodgerblue: #1E90FF;

    /* *** App Scaling ***  Einrueckung/Dyn. Elemente. Koennen gesetzt und gelesen werden. */
    /* Default Font: 16px == 1rem, use rem for calc()! 0.5..2.0 OK */
    --fontrel: 1;
    --scrollms: 200ms;
    /* == User-Aenderbare Vars ENDE == */

    /* Linearisation with Trend-line for fontrel 0.5.1,2 */
    --lnavwidth_max: calc(32px + var(--fontrel)*220px);
    --lnavwidth_small: calc(32px + var(--fontrel)*32px);

    /* Heights Header/Footer, unterschiedlich falls noch Menues rein muessen */
    --hdrheight: calc(8px + var(--fontrel)*32px);
    --ftrheight: calc(8px + var(--fontrel)*32px);

    /* Working vars */
    --lnavwidth_wrk: var(--lnavwidth_max)
}

/* Variable Breakpoints Typ <br class='xx-br> */
@media all and (min-width:551px) {
    .desktop-br {
        display: inline;
    }

    .mobile-br {
        display: none;
    }
}

@media all and (max-width:550px) {
    .desktop-br {
        display: none;
    }

    .mobile-br {
        display: inline;
    }
}

body {
    margin: 0;
    padding: 0;
    background: var(--whitegray);
    color: black;
    font-family: sans-serif;
    font-size: calc(1rem * var(--fontrel));
}

/* ---Only for checkbox set size --- */
select,
option,
input {
    font-size: inherit;
}

input[type=checkbox] {
    width: calc(1rem * var(--fontrel));
    height: calc(1rem * var(--fontrel));
}

/*--- Spacer (thin black line) (separate Menue items )---*/
.thin-hr {
    border-bottom: 1px solid var(--black);
    opacity: 0.25;
    margin: 0 8px;
}

/* Screen-Height-Container: Header-Ccontent-Footer */
.shcontainer {
    display: flex;
    flex-direction: column;
}

.cheader {
    background-color: var(--midgray);
    color: var(--txtblack);
    height: var(--hdrheight);
    padding-left: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    i {
        /* Traditionell icons via i, fuer Text ruecksetzen */
        font-style: normal;
        font-size: calc(2rem * var(--fontrel));
        vertical-align: middle;
        background-color: var(--lightgray);
        border-radius: 4px;
        position: relative;

        #cheader-hint {
            /* Rechts,Links oder leer */
            color: var(--dodgerblue);
            position: absolute;
            bottom: calc(-10px * var(--fontrel));
            right: calc(-10px * var(--fontrel));
            font-size: calc(1.5rem * var(--fontrel));
        }

        &:hover {
            background-color: var(--hovergray)
        }
    }

    .cheader-txt {
        margin-left: 10px;
    }
}

.ccontent {
    display: static;
}

.cfooter {
    background-color: var(--darkgray);
    color: var(--txtwhite);
    height: var(--ftrheight);
    padding: 0 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: row;
    position: relative;

    .fmenubutton {
        i {
            /* Traditionell icons via i, fuer Text ruecksetzen */
            position: absolute;
            right: 8px;
            bottom: 4px;
            vertical-align: center;
            color: var(--txtblack);
            font-style: normal;
            font-size: calc(2rem * var(--fontrel));
            
            background-color: var(--lightgray);
            border-radius: 4px;

            &:hover {
                background-color: var(--hovergray)
            }
        }
    }
}

/* Horizontaler Container fuer Menue und Content */
.hccontainer {
    display: flex;
    flex-direction: row;
}

/* Navigation im Horizontalen Container clnav. 
ELemente: navitem. class 'collapse' gesetzt wenn nicht expandiert
<a> gut geeignet wg. flexiblem href */
.clnav {
    width: var(--lnavwidth_wrk);
    transition: all var(--scrollms);
    height: calc(100svh - var(--hdrheight) - var(--ftrheight));
    background-color: var(--lightgray);
    color: var(--txtblack);
    overflow: auto;

    button {
        /* In Sidenav: vertikal stapeln */
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;

    }

    &.navhidden {
        display: none;
    }

    /*------- Nav-Links generell -------*/
    button {
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        border: none;
        background-color: var(--lightgray);
        color: var(--txtblack);
        font-size: calc(1rem * var(--fontrel));

        &:hover {
            background-color: var(--hovergray);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    /*--- Info Line ---*/
    .navinfo {
        background-color: var(--infogray);
        display: block;
        padding: 2px 8px;
        white-space: nowrap;
        overflow: hidden;
        opacity: 1;
        transition: all var(--scrollms);

    }

    /* Elements of nav */
    .navitem {
        position: relative;

        i {
            /* Traditionell icons via i, fuer Text ruecksetzen */
            font-style: normal;
            font-size: calc(28px * var(--fontrel));
            vertical-align: middle;
            /* border: 1px solid black; TEST */
        }

        img {
            vertical-align: middle;
            padding: 0 4px;
            width: calc(28px * var(--fontrel));
            height: calc(28px * var(--fontrel));
            /* border: 1px solid black; TEST */
        }
    }

    /* Normaler Menue-Text */
    .navitem-txt {
        vertical-align: middle;
        margin-left: 10px;
        opacity: 1;
        transition: all var(--scrollms);
    }

    /* Simple-Info: unwichtig */
    .navitem-simple-pointout {
        position: absolute;
        right: 8px;
        padding: calc(5px * var(--fontrel));
        color: var(--txtblack);
        background-color: var(--infogray);
        opacity: 1;
        border-radius: 32px;
        transition: all var(--scrollms);
    }

    /* Normale Info: Verziert am Smbol wenn minimiert*/
    .navitem-pointout {
        /* Default Color: blue: */
        position: absolute;
        right: 8px;
        padding: calc(3px * var(--fontrel));
        background-color: var(--darkgray);
        border-radius: 32px;
        color: var(--txtwhite);
    }
}

/* Collapsed content */
.collapse {
    .navinfo {
        text-overflow: ellipsis;
        /* opacity: 0.5;
        font-size: calc(0.75rem * var(--fontrel)); 
        transition: all var(--scrollms); */
    }

    .navitem-txt {
        opacity: 0;
        transition: all var(--scrollms);
    }

    .navitem-pointout {
        top: 4px;
        left: calc(8px + var(--fontrel)*24px);
        height: calc(var(--fontrel)*2px);
        width: calc(var(--fontrel)*2px);
        border-radius: 50%;
        text-indent: -1000px;
        border: 2px solid var(--txtwhite);
        transition: all var(--scrollms);
    }

    .navitem-simple-pointout {
        opacity: 0;
        transition: all var(--scrollms);
    }
}

/* User content im Horizontalen Container*/
.ucontent {
    width: calc(100svw - var(--lnavwidth_wrk));
    height: calc(100svh - var(--hdrheight) - var(--ftrheight));
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow: auto;
}

.usection {
    min-height: calc(100svh - var(--hdrheight) - var(--ftrheight));
    overflow: hidden;
    background-color: var(--white);
    color: var(--txtblack);
    font-size: calc(1rem * var(--fontrel));
    padding: 8px;
}

.qrimg {
    /* QR-Code Imgage */
    vertical-align: middle;
    padding: 0 4px;
    width: calc(20px * var(--fontrel)) !important;
    height: calc(20px * var(--fontrel)) !important;
}

/* Allgemeines */
button {
    font-size: calc(1rem * var(--fontrel));
    margin: 2px;
    padding: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border: none;
    background-color: var(--lightgray);
    color: var(--txtblack);
    border-radius: 4px;

    &:hover {
        background-color: var(--hovergray);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

dialog {
    min-width: 80%;
    border: 2px solid var(--midgray);
    border-radius: 8px;
    background-color: var(--white);
    color: var(--txtblack);
    font-size: calc(1rem * var(--fontrel));
    padding: 8px;
    position: relative;
    overflow: auto;
    white-space: nowrap;
    z-index: 1000; /* Ansch. fuer Leaflet >=401.. */

    &#spinner {
        color: var(--dodgerblue);
        border: none;
        background-color: transparent;
        overflow: hidden;
        text-align: center;
    }

    &.smallDialog {
        min-width: 60%;
    }

    .dlgBtnClose {
        position: absolute;
        border: none;
        background-color: var(--lightgray);
        top: 0;
        right: 0;
        font-size: calc(1.5rem * var(--fontrel));
        padding: 8px;
        margin: 0;

        &:hover {
            background-color: var(--hovergray);
        }
    }

    .dlgBtnStandard {
        border: none;
        background-color: var(--lightgray);
        padding: 8px;

        &:hover {
            background-color: var(--hovergray);
        }
    }
}


/* (Dual) Range-Sliders */
.jdrange2 { /* Dual */
    padding: 8px;
}
.jdrange1 { /* Single */
    padding: 8px;
}

.jdrange-slider {
    height: 5px;
    position: relative;
    background-color: var(--lightgray);
    border-radius: 2px;
}

.jdrange-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--dodgerblue);
}

.jdrange-input {
    position: relative;
}

.jdrange-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.jdrange-input input::-webkit-slider-thumb,
.jdslider::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--dodgerblue);
    background-color: var(--lightgray);
    pointer-events: auto;
    appearance: none;
    -webkit-appearance: none;
}

.jdrange-input input::-moz-dualrange-thumb,
.jdslider::-moz-dualrange-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--dodgerblue);
    background-color: var(--lightgray);
    pointer-events: auto;
    appearance: none;
    -moz-appearance: none;
}

.jdslider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: var(--lightgray);
}

canvas {
    width: calc(100svw - 32px );
    height: calc(100svh - var(--hdrheight) - var(--ftrheight) - 16px); 
    border: 1px solid red;
}
/***/